<h3>Categoria</h3>
<table border="1">
    <tr>
        <th>#</th>
        <th>Nome</th>
        <th>descrição</th>
        <th></th>
    </tr>
    <% _.each(categoria, function(cat){ %>
    <tr data-id="<%= cat.id %>" data-model="categoria">
        <td><%= cat.id %></td>
        <td><%= cat.nome %></td>
        <td><%= cat.descricao %></td>
        <td>
            <a href="/categoria/show/<%= cat.id %>" >Show</a> |
            <a href="/categoria/edit/<%= cat.id %>" >Edit</a> |
            <a href="/categoria/destroy/<%= cat.id %>" >Delete</a>
        </td>
    </tr>
    <% }) %>
</table>