<form action="/setor/update/<%= setor.id %>" method="POST">
    <h2>Editar setor</h2>
    <label>Nome:</label>
    <input type="text" name="nome" id="nome" placeholder="Nome" value="<%= setor.nome %>" />
    <label>Andar:</label>
    <select name="andar" id='andar'>
    	<option value="">Selecione</option>
    	<option value="03" <%= (setor.andar == '03')? 'selected="selected"': ''%>>03</option>
    	<option value="14" <%= (setor.andar == '14')? 'selected="selected"': ''%>>14</option>
    	<option value="15" <%= (setor.andar == '15')? 'selected="selected"': ''%>>15</option>
    </select>
    <label>Numero da Sala:</label>
    <input type="text" name="numero_sala" id="numero_sala" placeholder="Numero da sala" value="<%= setor.numero_sala %>" />
    <label>Unidade:</label>
    <select name="unidade" id='unidade'>
    	<option value="ICN Rio" <%= (setor.unidade == 'ICN Rio')? 'selected="selected"': ''%>>ICN Rio</option>
    	<option value="ICN CTO" <%= (setor.unidade == 'ICN CTO')? 'selected="selected"': ''%>>ICN CTO</option>
    </select>
    <input type="submit" name="save" value="Salvar" />
</form>