<div class="col-lg-12">
<h3>Chamados</h3>
<table border="1" class="table">
    <tr>
        <th>#</th>
        <th>Usuario</th>
        <th>Categoria</th>
        <th>Ocorrencia</th>
        <th>Prioridade</th>
        <th>Enviado para</th>
        <th>Situação</th>
        <th></th>
    </tr>
    <% _.each(chamado, function(cham){ %>
    <tr data-id="<%= cham.id %>" data-model="chamado">
        <td><%= cham.id %></td>
        <td><%= cham.idusuario.nome %></td>
        <td><%= cham.idcategoria.nome %></td>
        <td><%= cham.ocorrencia %></td>
        <td><%= cham.prioridade %></td>
        <td><%= cham.iddepartamento.id %></td>
        <% if(cham.situacao == 1) { %>
            <td>Não atendido</td>
        <% } %>

        <% if(cham.situacao == 2){ %>
            <td>Em espera</td>
        <% } %>

        <% if(cham.situacao == 3) { %>
            <td>Em andamento</td>
        <% } %>

        <% if(cham.situacao == 4) { %>
            <td>Concluído</td>
        <% } %>
        <td>
            <div class="btn-group">
                <a href="/chamado/show/<%= cham.id %>" class="btn btn-info" title="Visualizar dados do chamado"><i class="fa fa-eye"></i></a>
                <a href="/chamado/edit/<%= cham.id %>" class="btn btn-success" title="Editar dados do chamado"><i class="fa fa-edit"></i></a>
                <a href="/chamado/destroy/<%= cham.id %>" class="btn btn-danger" title="Excluir dados do chamado"><i class="fa fa-trash"></i></a>
            </div>
        </td>
    </tr>
    <% }) %>
</table>
</div>